
<section class="profile-header">
  <h2><%= @user.full_name %></h2>
   <%= link_to "Add A Friend", new_user_friendship_path(friend_id: @user),class: 'submit-btn' %>

</section>
  <% if @statuses %>
   <% @statuses.each do|status| %>
   
   <section class="status clearfix">
      <p><%= status.content %></p>
        <div class="meta">
          <%= link_to time_ago_in_words(status.created_at) + " ago", status %>
        </div>
    </section>
   <% end %>
  <% end %>


