/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

img,object{
	display: block; 
	border: 0; 
	max-width: 100%; 
	height: auto;  
}
html{
	position: relative;
	/*background:url('assets/img/files/bg.jpg')repeat;*/
	/*background: #000 url('') no-repeat center center fixed;*/
/*	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
}
body{
	overflow-x: hidden;
/*	font-family:Arial;*/
	color:#000;
    font-family: 'Roboto Condensed', sans-serif;


}
.header-wrapper{
    background: #000;
    margin-bottom: 40px;

}
.nav-wrap{
    max-width: 940px;
    margin:0 auto; 
    width: 100%;
}
.page-wrap{
	max-width: 940px;
	margin:0 auto;
	padding: 0px 10px;
	width: 100%;
}
/* HEADING STYLES */
h1{
	font-size: 2em;
	line-height: 1.4em;
	color:#C52F24;
    font-weight:700;
    text-transform: uppercase;
    
}
h2{
	font-size: 1.8em;
	line-height: 1.4em;
    border-bottom: 1px solid #000;margin-bottom: 20px;

}
h3{
	font-size: 1.8em;
	line-height: 1.4em;
}
h4{
	font-size: 1.4em;
	line-height: 1.4em;
}

p{
	font-size: 1em;
	line-height: 1.4em;
}
a{color:#C52F24; text-decoration: none;}
a:hover{color:#C52F24;}


/* FORM STYLING */
.form-label,
.form-field,
.form-text{
    width: inherit;
    display: block;
    padding: 8px;
}
.form-label{
    padding:15px 0;
}
.actions{
   margin: 20px 0;
   display: block; 
}
.submit-btn{
    background:#000;
    border:0;
    padding: 5px 10px;
    color: #fff;
     
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
   and (min-width : 768px) 
   and (max-width : 1024px) {


}

/* iPads (landscape) ----------- */

@media only screen 
   and (min-width : 768px) 
   and (max-width : 1024px) 
   and (orientation : landscape) {


}

/* iPads (portrait) ----------- */

@media only screen 
   and (min-width : 768px) 
   and (max-width : 1024px) 
   and (orientation : portrait) {

}

@media screen and (max-width : 685px) {



}

/*Styles for screen 600px and lower*/

@media screen and (max-width : 600px) {
	

}

/*Styles for screen 515px and lower*/


@media screen and (max-width : 568px) {


	
}

/*Smartphone*/
@media screen and (max-width : 380px){


}
@media screen and (max-width: 320px) {


} 



