/* FORM STYLING */
.form-label,
.form-field,
.form-text{
    width: inherit;
    display: block;
    padding: 8px;
}
.form-text,#status_content{
    width: 98%;
}
.form-label{
    padding:15px 0 5px 0;
}
.actions{
   margin: 20px 0;
   display: block; 
}
.submit-btn,
.actions input
{
    background:#000;
    border:0;
    padding: 5px 10px;
    color: #fff;
    border-radius:6px;
    font-size: 1em;    
}
.admin{
    float:right;
    margin-right: 20px;
}
.edit-admin{
    padding:5px;
}
.delete-admin{
    padding:5px;
}
.rememberme{
    margin-top: 20px;
}
.form-wrapper{
    float: left;
    display: inline-block;
}
.global-links {
    float:right;
    display:inline-block;
    border-left:1px solid #ccc;
    padding-left:70px;
}
.global-links a{
    background:#D6CBCB;
    padding:20px;
    width: 300px;
    display: block;
    margin:20px;
    text-align: center;
    font-size:1.2em;
    border-radius:6px;
    color: #000;
}
