// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.avatar{
	width:70px;
	height:70px;
	// background:#333;
	padding:5px;
	float: left;
	margin:5px 10px;
	border:1px solid #ccc;
}
.status strong{
	margin-top:10px;
}
.status{
	margin:0;
	border-bottom:1px solid #ccc;
	padding:5px 0;
	display:block;
}
.status p{
	padding:4px 0;

}
.meta{
	font-size:.8em;
}
.status.hover {
	background:#f0f0f0;
}
.status .admin{
	display:none;
}
.status.hover .admin{
	display:inline;
}
.new-post-wrapper{
	display:block;
	margin:20px 0;
}
.btn-status{
	text-decoration:none;
	background:#C52F24;;
	color:#fff;
	padding:5px 10px;
	display:-inline-block;
	float:right;
	border-radius: 4px;
}
.btn-status:hover{
	background:#000;
}